


body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: rgb(72, 120, 194);
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 20px;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.recipe-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;

}
.img-recipe {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h2 {
    margin: 0;
    padding-left: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #212529;
    min-width: 200px;
    font-weight: bold;
}

p {
    margin: 0;
    padding-right: 100px;
    font-size: 16px;
    font-weight: 400;
    color: #adafb1;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 92, 209);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 0.3s ease;
    min-width: 150px;
}

a:hover {
    background-color: rgb(75, 129, 211);

}

@media screen and (max-width:768px) {
    .recipe-item {
        flex-direction: column;
    }

    .img-recipe {
        width: 100%;
        height: auto;
    }

    h2 {
        padding-left: 0;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 15px;
    }

    p {
        padding-right: 0;
        text-align: center;
    }

    a {
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 15px;
        text-align: center;
    }
}
